# Visual Studio / 临时与缓存
.vs/
*.VC.db
*.VC.opendb
*.user
CppProperties.json

# 构建输出目录（所有位置）
Debug/
Release/
x64/

# 编译中间产物（不影响 obj/ 下的模型文件）
*.pdb
*.ilk
*.ipdb
*.iobj
*.idb
*.cache
*.tmp

# 日志文件
*.tlog
*.log

# 可执行文件
*.exe
*.dll

# VS 生成的用户配置
SimpleScene.vcxproj.user
